
.navigation{
    width: 300px;
    height: 100vh;
    position: fixed;
    overflow-y: scroll;
}

.list_item {
    width: 100%;
    /*height: 21px;*/
    padding: 5px;
    display: block;
    text-decoration: none;
    text-align: start;
    border: 1px solid grey;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.red {
    color: red;
}